

#---------------------AWA CON MORSE------------------------------
set_io ledshort 32
set_io ledlong 37
set_io lednull 38

#-------BOTONES------------
set_io -pullup yes button 29
set_io -pullup yes del_button 33
set_io -pullup yes fin_button 34
set_io -pullup yes clear_button 139

#-------LEDS VARIABLES------
set_io led_v1 11
set_io led_v2 12
set_io led_v3 17 

#---------------------CLK------------------------------
#Clock
set_io clk 60

#--------------------LEDS PRUEBA------------------------
#set_io led_1 1
#set_io led_2 2
#set_io led_3 7
#set_io led_4 8
#set_io led_5 143
